In [1]:
import pandas as pd
import numpy as np

In [5]:
df = pd.DataFrame({
    "distance": [1,2,3,1,2,1,2,3,4,5],
    "photon_index_begin": [1,np.nan,np.nan,4,np.nan,6,np.nan,np.nan,np.nan,np.nan],
    "segment_photon_count": [3,np.nan,np.nan,2,np.nan,5,np.nan,np.nan,np.nan,np.nan],
})
df

   distance  photon_index_begin  segment_photon_count
0         1                 1.0                   3.0
1         2                 NaN                   NaN
2         3                 NaN                   NaN
3         1                 4.0                   2.0
4         2                 NaN                   NaN
5         1                 6.0                   5.0
6         2                 NaN                   NaN
7         3                 NaN                   NaN
8         4                 NaN                   NaN
9         5                 NaN                   NaN

In [6]:
df.ffill()

   distance  photon_index_begin  segment_photon_count
0         1                 1.0                   3.0
1         2                 1.0                   3.0
2         3                 1.0                   3.0
3         1                 4.0                   2.0
4         2                 4.0                   2.0
5         1                 6.0                   5.0
6         2                 6.0                   5.0
7         3                 6.0                   5.0
8         4                 6.0                   5.0
9         5                 6.0                   5.0